@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --color-primario: #4b0000;
    --color-secundary: #e0e0e0;
  }

.users-container {
    background-color: #410000;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
  }
  
.users-box {
    background-color: var(--color-secundary);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 400px;
    color: #212121;
  }
  
.users-heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }